@font-face{
	font-family: 'roboto';
	src: url(../Fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family: 'roboto light';
	src: url(../Fonts/Roboto-Light.ttf);
}
@font-face{
	font-family: 'roboto medium';
	src: url(../Fonts/Roboto-Medium.ttf);
}
@font-face{
	font-family: 'roboto bold';
	src: url(../Fonts/Roboto-Bold.ttf);
}